{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h3>Voici le produit demandé</h3>
        <div class="bg-warning text-light p-5 m-4 rounded-4">
                <h4>{{product.name}}</h4>
            <p>{{product.description}}</p>
        </div>
{% endblock %}